*{
    padding: 0;
    margin: 0;
    font-family: serif;
    box-sizing: border-box;
}
.calculator{
    height: 100vh;
    width: 100%;
    background-color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background: #17181a;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px;
    /* height: 50vh;
    width: 25%; */
}
.content h1{
    color: #a5a5a5;
    text-align: center;
    font-size: 30px;
}
#inputbox{
    width: 275px;
    background: transparent;
    text-align: right;
    font-size: 20px;
    /* border: none; */
    outline: blue;
    color: #fff;
    margin: 10px;
}
input::placeholder{
    color: #fff;
}
button{
    border: none;
    outline: red;
    height: 50px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.equal{
    width: 120px;
    background-color: #1991ff;
    color: #fff;
    font-weight: 900;
}
.other-button{
    background-color: #616161;
    color: #a5a5a5;
    font-weight: 500;
}
.main-button{
    color: #005db2;
    background-color: #339dff;
}